<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <!-- Statistics card section start -->
      <section id="statistics-card">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-header">
                  <div>
                    <h2 class="font-weight-bolder mb-0">30K</h2>
                    <p class="card-text"><small><strong>Total Tickets</strong></small></p>
                  </div>
                  <div class="avatar bg-light-primary p-50 m-0">
                    <div class="avatar-content">
                      <i data-feather="users" class="font-medium-5"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-header">
                  <div>
                    <h2 class="font-weight-bolder mb-0">12K</h2>
                    <p class="card-text"><small><strong>Completed Tickets</strong></small></p>
                  </div>
                  <div class="avatar bg-light-success p-50 m-0">
                    <div class="avatar-content">
                      <i data-feather="user-check" class="font-medium-5"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-header">
                  <div>
                    <h2 class="font-weight-bolder mb-0">5K</h2>
                    <p class="card-text"><small><strong>Delayed Tickets</strong></small></p>
                  </div>
                  <div class="avatar bg-light-danger p-50 m-0">
                    <div class="avatar-content">
                      <i data-feather="package" class="font-medium-5"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-header">
                  <div>
                    <h2 class="font-weight-bolder mb-0">13K</h2>
                    <p class="card-text"><small><strong>In Progress Tickets</strong></small></p>
                  </div>
                  <div class="avatar bg-light-warning p-50 m-0">
                    <div class="avatar-content">
                      <i data-feather="check-square" class="font-medium-5"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
      <!-- Statistics Card section end -->
    </div>
  </div>
  