<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <div>
            <h4 (click)="back()" class="text-primary font-weight-bolder pointer d-inline"><i data-feather="arrow-left" [class]="'text-primary'" [size]="22"></i> Back </h4>
            <h2 class="my-1"><strong>{{ headText }}</strong></h2>
          </div>
        <div class="row">
          <div class="filter col-md-6 col-12 d-flex justify-content-start justify-content-md-end align-items-center">
            <div class="row pr-1 pb-1 pb-md-0 align-items-center w-100">
              <div class="pl col-10 col-md-6 pr-0">
                <label class="d-flex align-items-center mb-0 ml-1 ml-md-0"
                  ><input
                    [(ngModel)]="searchValue"
                    name="searchValue"
                    type="search"
                    class="form-control"
                    placeholder="Search..."
                    (keyup)="filterUpdate($event)"
                /></label>
              </div>
              <div class="col-10 col-md-6 mt-2 ml-1 ml-md-0 mt-md-0">
                <fieldset class="form-group mb-0">
                  <ng-select
                    [items]="selectStatus"
                    [(ngModel)]="selectedStatus"
                    bindLabel="name"
                    placeholder="Select Status"
                    (change)="filterByStatus($event)"
                  ></ng-select>
                </fieldset>
              </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12 d-flex justify-content-start justify-content-md-end align-items-center offset-lg-2">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center">Show entries
                  <select class="form-control mx-25" [(ngModel)]="selectedOption">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>
              </div>
            </div>
        </div>
        <ngx-datatable
          [rows]="rows"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >
          <ngx-datatable-column name="CUSTOMER Id" prop="id" [width]="50">
            <ng-template let-id="value" ngx-datatable-cell-template>
              <a routerLink="/apps/invoice/preview/{{ id }}" class="font-weight-bold">#{{ id }}</a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="CUSTOMER Name" prop="clientName" [width]="150">
            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <span class="font-weight-bold d-block text-nowrap font-medium-1">{{ name }}</span>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="TICKET DATE" prop="orderDate" [width]="100"> </ngx-datatable-column>
          <ngx-datatable-column name="Amount" prop="amount" [width]="50">
            <ng-template let-total="value" ngx-datatable-cell-template>
              <div>
                ﷼ ‎
                {{ total }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="Order Status" prop="orderStatus" [width]="100">
            <ng-template let-orderStatus="value" ngx-datatable-cell-template>
              <div
                class="badge badge-pill"
                [ngClass]="{
                  'badge-light-success': orderStatus == 'Delivered',
                  'badge-light-danger': orderStatus == 'Shipped',
                  'badge-light-warning': orderStatus == 'Processing',
                  'badge-light-primary': orderStatus == 'Cancelled'
                }"
              >
                {{ orderStatus }}
              </div>
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column name="TICKET Status" prop="paymentStatus" [width]="100">
            <ng-template let-paymentStatus="value" ngx-datatable-cell-template>
              <div
                class="badge badge-pill"
                [ngClass]="{
                  'badge-light-success': paymentStatus == 'CLOSED',
                  'badge-light-danger': paymentStatus == 'ESCALATED',
                  'badge-light-warning': paymentStatus == 'IN PROGRESS',
                  'badge-light-secondary': paymentStatus == 'UNRESOLVED',
                  'badge-light-primary': paymentStatus == 'DUMMY',
                  'badge-light-info': paymentStatus == 'NOT IN SCOPE'

                }"
              >
                {{ paymentStatus }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex align-items-center col-actions">
                <a class="mr-1" href="javascript:void(0);" container="body" placement="top" ngbTooltip="Send Mail"
                  ><i size="18" data-feather="send"></i
                ></a>
                <a
                  class="mr-1"
                  routerLink="/apps/invoice/preview/{{ row.id }}"
                  container="body"
                  placement="top"
                  ngbTooltip="Preview Invoice"
                  ><i size="18" data-feather="eye"></i
                ></a>
                <div ngbDropdown container="body">
                  <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow px-0" rippleEffect>
                    <i data-feather="more-vertical" size="18" class="cursor-pointer"></i>
                  </button>
                  <div ngbDropdownMenu>
                    <a href="javascript:void(0)" ngbDropdownItem><i data-feather="download" class="mr-1"></i>Download</a
                    ><a routerLink="/apps/invoice/edit/{{ row.id }}" ngbDropdownItem
                      ><i data-feather="edit" class="mr-1"></i>Edit</a
                    ><a href="javascript:void(0)" ngbDropdownItem><i data-feather="trash" class="mr-1"></i>Delete</a
                    ><a href="javascript:void(0)" ngbDropdownItem><i data-feather="copy" class="mr-1"></i>Duplicate</a>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        </div>
      </div>
    </section>
  </div>
</div>
